.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.notfound{
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.table{
  box-shadow: 1px 1px 3px 3px rgb(214, 203, 203);
}
.form-group{
  box-shadow: 0px 0px 3px 3px rgb(214, 203, 203);
  padding: 15px;
  background: linear-gradient(rgb(244, 206, 255),rgb(225, 255, 227));
}
.form-control{
  margin-top: 13px;
}
.addUserBtn{
  margin-top: 15px;
}
#name, #email, #contact, #address{
  border-radius: 10px;
}